<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="address" class="cn.wugou.dao.Address">
        <property name="address" value="杭州" />
    </bean>

    <bean id="student" class="cn.wugou.dao.Student">
        <property name="name" value="张三" />
        <property name="address" ref="address"/>
        <property name="books">
            <array>
                <value>西游记</value>
                <value>三国演义</value>
                <value>水浒传</value>
                <value>红楼梦</value>
            </array>
        </property>
        <property name="hobbys">
            <list>
                <value>听歌</value>
                <value>玩游戏</value>
                <value>敲代码</value>
            </list>
        </property>
        <property name="card">
            <map>
                <entry key="身份证" value="362323533252516352"/>
                <entry key="银行卡" value="13131313131"/>
            </map>
        </property>
        <property name="games">
            <set>
                <value>LOL</value>
                <value>王者</value>
                <value>吃鸡</value>
            </set>
        </property>
        <property name="wife">
            <null />
        </property>
        <property name="info">
            <props>
                <prop key="学号">20191002</prop>
                <prop key="性别">男</prop>
                <prop key="姓名">无垢</prop>
            </props>
        </property>
    </bean>
</beans>